[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "micar"]
	path = micar
	url = https://github.com/obiba/micar
[submodule "opalr"]
	path = opalr
	url = https://github.com/obiba/opalr
[submodule "resourcer"]
	path = resourcer
	url = https://github.com/obiba/resourcer
[submodule "s3.resourcer"]
	path = s3.resourcer
	url = https://github.com/obiba/s3.resourcer
